{% extends 'main.html' %}

{% block header %}
  <h1>{% block title %}Find a Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
        <label for="ingredients">Enter ingredients here:</label>
        <input type="text" name="ingredients">
        <input type="submit" value="Submit">
  </form>
  {% if ingredients %}
  <p>You entered:</p>
  <h2>{{ingredients}}</h2>
  <p>Here's a recipe for you:</p>
  <h2>{{title}}</h2>
  <p>Category: {{category}}</p>
  <div class="left">
    <b>Ingredients:</b>
    <ul>
      {% for i in ingrz %}
   
        <p>{{i}}</p>
    
      {% endfor %}
    </ul>
  <b>How to make: </b>
  <ul>
    {% for k in steps %}
      <p>{{k}}</p>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
