{% extends 'main.html' %}

{% block header %}
  <h1>{% block title %}Generate a New Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
        <label for="gen_length">Enter the length of the recipe you'd like to generate:</label>
        <input type="int" name="gen_length">
        <input type="submit" value="Submit">
  </form>
  {% if length %}
  <p>You entered: </p>
  <h2>{{length}}</h2>
  <h2>Here's your brand new recipe!:</h2>
  <p style="white-space: pre;">{{new_recipe}}</p>
  {% endif %}
</div>
{% endblock %}